*.pyc
__pycache__/
**/__pycache__/
.DS_Store
Data/*
Output/*
ttp.egg-info/*
dist/*
build/*
private/*
how to upload to pypi.txt
docs/build/*
docs/make.bat
docs/Makefile
.pytest_cache/v/cache/nodeids
.pytest_cache/
test/pytest/Output/*
test/pytest/nornir.log
test/feature_checks/actual/
ttp/ttp_dict_cache.pickle
frontend/node_modules/
frontend/dist/
backend/data/*.db-*
